
<% if flash[:error].present? %>
    <div data-role="collapsible" data-collapsed="false" data-iconpos="right" data-theme="e" data-expanded-icon="arrow-d" data-collapsed-icon="arrow-r">
      <h3>Errors</h3>
      <p>
          <ul data-role="listview" class="ui-li-count" data-theme="d">
            <%= flash[:error].html_safe %>
          </ul>
      </p>
    </div>
<% end %>
<%= content_tag(:div, flash[:notice], :id => :notice, :class => :static) if flash[:notice] %>
<%= form_for @ticket, :html => { :class => "#{"disabled" unless flash[:error] }" } do |f| %>
  <% if logged_in? %>
    <div data-role="fieldcontain">
      <label>Will be sent from <strong><%= current_user.email %></strong></label>
    </div>
  <% else %>
    <div data-role="fieldcontain">
      <%= f.label :email, "Your email" %><br />
      <%= f.text_field :email %>
    </div>
    <% end %>
  <div data-role="fieldcontain">
    <%= f.label :subject %><br />
    <%= f.text_field :subject %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :category %><br />
    <%= f.select(:category, options_for_select(Constant.ticket_categories.map(&:value)), :include_blank => "Select a category") %>
  </div>
  <div data-role="fieldcontain">
    <%= f.label :message %><br />
    <%= f.text_area :message %>
  </div>
  <div data-role="fieldcontain">
    <%= f.submit "Contact us", "data-theme" => "b", :class => "awesome magenta" %>
    <%= f.text_field :human, :class => "ui-hidden-accessible" %>
  </div>
<% end %>