<% body_class "info" %>
<% title "FAQ" %>

<%= render "partials/scripts/get_satisfaction" %>

<div class="width_50 divider">
  <h1 class="center">Frequently Asked Questions</h1>
  <ul id="faq" class="pad">
    <% @important.each do |faq| %>
	    <li>
	      <h2><strong><%= faq.question %></strong></h2>
        <%= raw render_textile(faq.answer) %>
	    </li>
    <% end %>
    <% @faqs.each do |faq| %>
	    <li>
	      <h2><%= faq.question %></h2>
				<%= raw render_textile(faq.answer) %>
	    </li>
    <% end %>
  </ul>
</div>
<div class="width_50">
  <h1 class="center">Contact &amp; insight</h1>
  <div class="pad">
    <%= render "todoist" %>
  </div>
  <div id="contact" class="pad">
    <%= render "contact_form" %>
  </div>
</div>