<h2 class="center">Login now</h2>

<% flash.each do |key, msg| %>
  <%= content_tag(:div, msg, :id => key) %>
<% end %>
<%= form_for(resource, :as => resource_name, :url => session_path(resource_name), :"data-ajax" => :false) do |f| %>
    <fieldset>
        <%= f.email_field :email, :placeholder => "Email" %>
    </fieldset>
    <fieldset>
        <%= f.password_field :password, :placeholder => "Password" %>
    </fieldset>
    <% if devise_mapping.rememberable? %>
        <fieldset data-type="vertical">
            <%= f.check_box :remember_me, :"data-theme" => "a" %>
            <%= f.label :remember_me %>
        </fieldset>
    <% end %>
    <%= f.submit "Enter" %>
<% end %>

<p class="big center margin_top"><%= link_to("Reset your password", new_user_password_path) %></p>