<% cache(@system_message) do %>
  <% unless @system_message.try(:value).blank? %>
    <div id="<%= @system_message.additional_data %>"><%= @system_message.value %></div>
  <% end %>
<% end %>

<% cache("footer_tag_cloud") do %>
  <div class="box width_33">
    <div class="inner">
    	<h3>Most popular shows</h3>
    	<ul id="tag_cloud">		  
    		<%= raw(build_tag_cloud(@tags, %w(tag1 tag2 tag3 tag4 tag5 tag6 tag7 tag8 tag9 tag10))) %>
    	</ul>
    </div>
  </div>
<% end %>

<% cache("footer_recently_favorited") do %>
  <div class="box width_34">
    <div class="inner">
    	<h3>Recently favorited shows</h3>
    	<ul id="recently_favorited">
      <% @recently_favorited.each do |following| %>
    		<li>
    		  <%= link_to "#{following.cached_show.name}", show_path(:permalink => following.cached_show.permalink) %> <span><%= "(#{pluralize(following.cached_show.followers, "follower")})" %></span>
    	  </li>
    		<% end %>
    	</ul>
    </div>
  </div>
<% end %>

<div class="box width_33">
  <div class="inner">
  	<h3>Share, follow or contribute</h3>
  	
    <% cache("share") do %>
      <%= render "partials/scripts/share" %>
    <% end %>
  	
  	<p id="follow">
  	  <strong>See all new site updates and future ideas via Twitter!</strong>
  	  <iframe allowtransparency="true" frameborder="0" scrolling="no" src="http://platform.twitter.com/widgets/follow_button.html?screen_name=episodecalendar&link_color=aaaaff&text_color=ffffff" style="width:300px; height:20px; margin: 5px 0 0 0;"></iframe>
  	</p>
  	
  	<div id="rails_logo">
  	  <%= image_tag("icons/rails.png") %>
  	  <p><strong>I&rsquo;m looking for Ruby on Rails developers!</strong><br />
  	  Are you looking for a real world project to be a part of? Or have you just started with Rails and want to learn more? Contact me and let&rsquo;s talk!</p>
  	</div>
    
  </div>
</div>