<div class="subscription_form">
  <% if flash[:error]%>
      <div class="error">
        <%= flash[:error]%>
      </div>
  <% end %>
  <%= form_tag "/subscriptions", :method => "post" do%>
      <%= hidden_field_tag "user_id", @current_user.id%>
      <fieldset class="grouped">
        <%-#= label_tag "plan", "Plan"%>
        <div class="tsc_pricingtable05">
          <table>
            <thead>
            <tr>
              <% @plans.each_with_index do |plan, i|%>
                  <th class=<%="#{i}"%>><%= plan.name.split('-').map {|w| w.capitalize }.join(' ') %><br />
                    <span><%= "$" + plan.price.to_s + "/month"%></span></th>
              <% end %>
            </tr>
            </thead>
            <tfoot>
            <tr class="pricing_btn">
              <% @plans.each_with_index do |plan, i|%>
                  <td class=<%="#{i}"%>><%= radio_button_tag 'plan', plan.name, params[:plan] == plan, :class => "radio_button" %></td>
              <% end %>
            </tr>
            </tfoot>
            <tbody>
            <tr class="grey">
              <% @plans.each_with_index do |plan, i|%>
                  <td class=<%="#{i}"%>><%= "Period: #{plan.duration} " + "#{plan.duration.to_i ==1 ? 'Month' : 'Months'}" %></td>
              <% end %>
            </tr>
            <tr>
              <% @plans.each_with_index do |plan, i|%>
                  <td class=<%="#{i}"%>><%= "Save: #{(100-(plan.price/20*100)).to_i}%" %></td>
              <% end %>
            </tr>
            <tr class="grey">
              <% @plans.each_with_index do |plan, i|%>
                  <td class=<%="#{i}"%>>Choose this plan</td>
              <% end %>
            </tr>
            </tbody>
          </table>
        </div>
      </fieldset>
      <fieldset class="grouped">
        <%= label_tag "", "Expiration Date"%>
        <div class="plan_info">Please choose a plan</div>
      </fieldset>
      <fieldset class="grouped">
        <%= label_tag "credit_card[type]", "Card Type"%>
        <%= select_tag "credit_card[type]", options_for_select([["Visa", "visa"], ["MasterCard", "master"], ["Discover", "discover"], ["American Express", "american_express"]])%>
      </fieldset>
      <fieldset class="grouped">
        <%= label_tag "credit_card[first_name]", "First Name"%>
        <%= text_field_tag "credit_card[first_name]",nil , :class => "form_entries" %>
      </fieldset>
      <fieldset class="grouped">
        <%= label_tag "credit_card[last_name]", "Last Name"%>
        <%= text_field_tag "credit_card[last_name]",nil , :class => "form_entries"%>
      </fieldset>
      <fieldset class="grouped">
        <%= label_tag "credit_card[number]", "Card Number"%>
        <%= text_field_tag "credit_card[number]",nil , :class => "form_entries"%>
      </fieldset>
      <fieldset class="grouped">
        <%= label_tag "credit_card[verification_value]", "CVC"%>
        <%= text_field_tag "credit_card[verification_value]",nil , :class => "form_entries"%>
      </fieldset>
      <fieldset class="grouped">
        <%= label_tag "card_expires_on", "Card Expiration"%>
        <%= date_select "card_expires_on", "", :discard_day => true, :start_year => Date.today.year, :end_year => (Date.today.year+10), :add_month_numbers => true %>
      </fieldset>
      <fieldset class="grouped">
        <%= submit_tag "Submit", :class=> "submit awesome magenta" %>
      </fieldset>
  <%end%>
  <%-#= link_to "Express Checkout", express_checkout_path(:plan => params[:plan]) %>
</div>