<ul data-role="listview" data-divider-theme="a" data-inset="true" data-split-theme="d">
  <li data-form="ui-bar-c" role="" data-role="list-divider" class="ui-li ui-li-divider ui-btn ui-bar-c" data-swatch="c">
    <div class="ui-grid-a">
      <div class="ui-block-a">
          <select name="" data-mini="true" data-theme="c">
          <% @seasons.each do |season| %>
            <option value="<%= season.number %>">Season <%= season.number %></option>
          <% end %>
          </select>
      </div>
      <div class="ui-block-b">

        <select name="select-choice-3" id="select-choice-3" data-native-menu="false" data-mini="true" data-theme="b">
          <option data-placeholder="true">Mark multiple</option>
          <option value="">Mark the entire show as watched</option>
          <option value="">Mark all episodes in this season as watched</option>
          <option value="">Unmark all episodes in this season as watched</option>
          <option value="">Hide all episodes in this season</option>
          <option value="">Unhide all episodes in this season</option>
        </select>

      </div>     
    </div>
  </li>

  <% @season.episodes.sort_by{ |e| [e.number] }.each do |e| %>
    <% corrected_air_date = (current_user ? e.air_date + current_user.day_offset.days : e.air_date) %>
    <% css_class = " highlighted" if @next_air_date == e.air_date %>
    <% seen = @seen_episode_ids.include?(e.id) %>

    <li data-theme="a" id="<%= "episode_#{e.id}" %>" data-icon="<%= seen ? "check" : "check-off" %>" data-episode-id="<%= e.id %>">
      <a href="#<%= "popup_#{e.id}" %>" data-rel="popup" data-position-to="window" data-transition="pop">
        <h3><%= format_episode_number(e) %></strong>: <%= e.name %></h3>
        <p><%= format_date(corrected_air_date) %></p>
        <div data-role="popup" id="<%= "popup_#{e.id}" %>" data-theme="d" data-overlay-theme="b" class="ui-content">
          <h3><%= "#{e.name} (#{format_episode_number(e)})" %></h3>
          <p class="overview long"><%= e.friendly_overview.html_safe %></p>
        </div>
      </a>
      <a href="<%= mark_episode_path(e.id, e.season_id) %>" class="mark" data-marked="<%= seen %>" data-ajax="false"></a>
    </li>

  <% end %>
</ul>