<%= raw render :partial => "partials/month_navigation", :locals => {:current => @current, :public => false} %>

<ul data-role="listview" data-split-icon="gear" data-split-theme="d" data-divider-theme="b" data-inset="true">
  <% @start_day.upto(@end_day) do |date| %>
    <% corrected_date = current_user.sun_to_sat ? (date - 1.day) : date %>
    <% current_day_date = corrected_date.to_s(:air_date) %>
    <% show_episodes = @episodes.select {|e| (e.air_date + current_user.day_offset.days).to_s(:air_date) == current_day_date} %>
    <% if show_episodes.any? %>
      <li data-role="list-divider" role="heading" data-theme="a" class="calendar_date <%= get_cell_css_class(corrected_date, @current, $TODAY)%>">
        <%= print_date(corrected_date) %> (<%= week_day(corrected_date.wday) %>)
      </li>
      <% show_episodes.each do |e| %>
        <li data-theme="c">
          <%= m_print_calendar_episode(e).html_safe %>
          <a href="#purchase" data-rel="popup" data-position-to="window" data-transition="pop">Purchase album</a>
        </li>
      <% end %>
    <% end %>
  <% end %>
</ul>

<div id="bottom_legend">
  <%= icon_tag("information") %> <strong class="premiere">Season premiere</strong> <strong class="normal">Normal episode</strong>
</div>