<div data-role="navbar">
  <ul>
    <li><a id="topshows" class="navbar-links" data-theme="a" href="#">Top shows</a></li>
    <li><a id="newfollowers" class="navbar-links" data-theme="a" href="#">By followers</a></li>
    <li><a id="fastgrow" class="navbar-links" data-theme="a" href="#">By growth</a></li>
  </ul>
</div><!-- /navbar -->

<div class="data-content topshows" data-theme="c">
  <ul data-role="listview" data-inset="true" data-mini="true">
    <% @top_shows.each_with_index do |show, i| %>
        <li>
          <a href="<%= show_path(show) %>">
            <% if show.banner %>
                <%= image_tag("pixel.gif", :"data-original" => environmentize(show.banner(:small)), :class => :lazy) %>
            <% else %>
                <%= image_tag("pixel.gif") %>
            <% end %>
            <h3><%= show.name %></h3>
            <p><strong><%= show.followers %> followers</strong> <%= raw print_popularity(show) %></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>

<div class="data-content newfollowers" data-theme="c">
  <ul data-role="listview" data-inset="true" data-mini="true">
    <% @highest_grow.each_with_index do |show, i| %>
        <li>
          <a href="<%= show_path(show) %>">
            <% if show.banner %>
                <%= image_tag("pixel.gif", :"data-original" => environmentize(show.banner(:small)), :class => :lazy) %>
            <% else %>
                <%= image_tag("pixel.gif") %>
            <% end %>
            <h3><%= show.name %></h3>
            <p><strong><%= show.followers %> followers</strong> <%= raw print_popularity(show) %></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>
<div class="data-content fastgrow" data-theme="c">
  <ul data-role="listview" data-inset="true" data-mini="true">
    <% @top_new_followers.each_with_index do |show, i| %>
        <li>
          <a href="<%= show_path(show) %>">
            <% if show.banner %>
                <%= image_tag("pixel.gif", :"data-original" => environmentize(show.banner(:small)), :class => :lazy) %>
            <% else %>
                <%= image_tag("pixel.gif") %>
            <% end %>
            <h3><%= show.name %></h3>
            <p><strong><%= show.followers %> followers</strong> <%= raw print_popularity(show) %></p>
          </a>
        </li>
    <% end %>
  </ul>
</div>


<script type="text/javascript">
  $(document).ready(function() {
      $('.data-content').hide();
      $('.topshows').show();
      $('#topshows').addClass('ui-btn-active');
      $(".navbar-links").click(function() {
          var klass = $(this).attr('id');
          $('.data-content').hide();
          $('.' + klass).show();
      });
  });
</script>