<% title "Episode Calendar for #{@user.display_name} - #{Date::MONTHNAMES[@current.month]} #{@current.year}" %>

<div class="center">
  <%= content_tag(:h1, "#{@user.display_name}'s TV calendar") %>
  <%= content_tag(:h2, "#{Date::MONTHNAMES[@current.month]} #{@current.year}", :class => "month") %>
</div>

<table id="calendar" cellspacing="2" cellpadding="0">
	<tr>
	<%	0.upto(6) do |i| %>
		<th class="calendar_weekday_name"><div><%= @user.sun_to_sat ? week_day(i) : week_day(i+1) %></div></th>
	<% end %>
	</tr>
	<tr>
  	<% @start_day.upto(@end_day) do |date|	%>
  	<% corrected_date = @user.sun_to_sat ? (date - 1.day) : date %>
  	<% current_day_date = corrected_date.to_s(:air_date) %>
		<td class="<%= get_cell_css_class(corrected_date, @current, $TODAY)%>" rel="<%= date.wday == 0 ? 7 : date.wday %>">
			<div class="calendar_date"><%= print_date(corrected_date) %></div>
			<% show_episodes = @episodes.select {|e| (e.air_date + @user.day_offset.days).to_s(:air_date) == current_day_date} %>
		  <% if show_episodes.any? %>
      <div class="calendar_cell_content">
      	<ul>
      	<% show_episodes.each do |e| %>
      	  <li>
      	    <%= raw print_iframe_calendar_episode(e, @user) %>
        	  <div id="tip_<%=e.id%>" class="hidden"><h3><%= "#{e.name} (#{e.format(@user.episode_format)})" %></h3><span><%= raw e.friendly_overview %></span></div>
        	</li>
      	<% end %>
      	</ul>
      </div>
		  <% end %>
		</td>
		<% if (date.wday % 7) == 0 && date < @end_day %>
	</tr>
	<tr>
		<% end %>
	<% end %>
	</tr>
</table>

<h3 class="center">Powered by <%= link_to("EpisodeCalendar.com", HOST, :rel => :external) %></h3>