<% title "Search" %>

<% if @query.blank? %>
  <p class="center"><%= image_tag("logos/sad-logo.png") %></p>
  <h1 class="center margin_bottom margin_top">You didn't enter a show name.</h1>
  <h2 class="center margin_bottom margin_top">Please try again.</h2>
<% elsif @shows.empty? %>
  <p class="center"><%= image_tag("logos/sad-logo.png") %></p>
  <h1 class="center margin_bottom margin_top">Found <%= @shows.size %> shows matching <span class="highlight"><%= @query %></span></h1>
  <h2 class="center margin_bottom margin_top">Please try again.</h2>
  <h2 class="center"></h2>
<% else %>
  <h2 class="center">Found <%= @shows.size %> shows matching <span class="highlight"><%= @query %></span></h2>
  <table width="100%" cellspacing="2" cellpadding="0">
    <thead>
      <tr>
        <th colspan="2"><div>Show</div></th>
        <th><div>Status</div></th>
        <th><div>Info</div></th>
      </tr>
    </thead>
    <tbody>
    <% @shows.each do |show| %>
    <% is_following = current_user ? current_user.is_following(show) : false %>
    <tr class="<%= cycle("even", "odd") %><%= " green" if is_following %>">
      <td>
        <div class="banner">
          <% if show.banner %>
            <%= link_to(image_tag("pixel.gif", :"data-original" => environmentize(show.banner(:small)), :class => :lazy), show) %>
          <% else %>
            <p>Missing banner</p>
          <% end %>
        </div>
      </td>
      <td>
        <%= content_tag(show.popular? ? :h2 : :h3, link_to(highlight(show.name, @query, :highlighter => '<strong>\1</strong>'), show_path(show), :class => :alternative)) %>
        <% if current_user %>
          <% if is_following %>
            <%= icon_tag("tick") %> <strong>Already in my list</strong>
          <% else %>
            <%= link_to("Add", add_show_path(show.permalink), :class => "awesome small magenta", :title => "Add to my list") %>
          <% end %>
        <% end %>
      </td>
      <td width="20%">
        <% if show.ended? %>
          <strong class="red">Started airing: <%= print_air_start(show.first_aired) %></strong><span>Ended</span>
        <% else %>
          <strong>Started airing: <%= print_air_start(show.first_aired) %></strong><span>Still airing</span>
        <% end %>
      </td>
      <td width="20%">
        <strong><%= show.followers %> followers</strong><span><%= show.episodes_count %> episodes</span>
      </td>
    </tr>
    <% end %>
    </tbody>
  </table>
<% end %>