<% title @show.name %>
<% meta @show.overview %>
<% share_url show_url(:permalink => @show.permalink) %>
<% share_title "TV Episode Calendar - #{yield(:title)}" %>

<%= render :partial => "show_header" %>

<% if @seasons.any? %>

  <div id="current-season">
    <%= render :partial => "season" %>
  </div>
  
<% else %>

  <div id="no_show_episodes">
    <h2>This show has no episodes.</h2>
    <% if @is_queued %>
      <p id="notice" class="static">'<%= @show.name%>' is already scheduled for an update. If any episodes exist, they will appear shortly.</p>
    <% else %>
      <p id="error" class="static">
        It doesn't seem that we could collect any episodes.<br /><br />
        They will be available as soon as our <%= link_to("source", @show.source_url, :rel => :external) %> get any.
      </p>
    <% end %>
    <p>If you think any other data is wrong or incomplete, please <%= link_to("contact", info_path(:anchor => :contact)) %> us.</p>
  </div>
  
<% end %>