<% title @show.name %>
<% meta @show.overview %>
<% share_url show_url(:permalink => @show.permalink) %>
<% share_title "TV Episode Calendar - #{yield(:title)}" %>

<div class="page_header">
  <div id="show_info">
    <div class="banner_shadow"></div>
    <% if @show.banner %>
    <div class="banner">
        <%= image_tag("http://www.episodecalendar.com" + @show.banner, :alt => @show.name, :width => 758, :height => 140) %>
    </div>
    <% else %>
    <%= content_tag(:h1, @show.name) %>
    <div class="banner">
      <%= image_tag("missing_show_banner.png", :alt => @show.name, :width => 758, :height => 140) %>
    </div>
    <% end %>
    <div id="secondary_show_info">
      <div class="note_wrapper">
        <%= link_to("Edit", edit_admin_show_path(@show), :id => :edit_link) if admin? %>
        <div id="status_icon"><%= print_status_icon(@show) %></div>
        <ul class="note">
          <li class="first"><strong>Started airing:</strong> <%= print_first_aired(@show.first_aired) %></li>
          <% if @seasons.any? %>
          <li><strong>Seasons:</strong> <%= @season_size %></li>
          <li><strong>Episodes:</strong> <%= @show.episodes.size %> <span>(Avg. <%= (@show.episodes.size.to_f/@seasons.size).round %> per season)</span></li>
          <li><strong>Followers:</strong> <%= @show.followers %> <%= raw print_trend(@show) %></li>
          <li><strong>Popularity rank:</strong> #<%= @show.current_trend_position %> <%= raw print_popularity(@show) %></li>
          <% else %>
          <li><strong>Seasons:</strong> 0</li>
          <li><strong>Episodes:</strong> 0</li>
          <li><strong>Followers:</strong> <%= @show.followers %> <%= print_trend(@show) %></li>
          <li><strong>Popularity rank:</strong> <%= raw print_popularity(@show) %></li>
          <% end %>
        </ul>
      </div>
      <div id="time_and_network">
        <p><%= raw print_air_time(@show) unless @show.ended? %></p>
      </div>
      <% if logged_in? %>
        <div id="add_or_like">
        <% unless current_user.is_following(@show) %>
          <%= link_to("Add to My shows", add_show_path(@show.permalink), :id => :add_button) %>
        <% else %>
            <%= icon_tag("smiley", 24) %> <strong>You are following this show</strong>
            <span id="facebook_button"><span><%= @show.id %></span></span>
        <% end %>
        </div>
      <% end %>
    </div>
  </div>

  <h3 id="season_pagination_header">Seasons:</h3>
  <ul id="season_pagination">
  <% @seasons.each do |season| %>
    <li class="tab <%= @season.number == season.number ? "selected" : ""%>">
      <%= link_to(season.display_name, show_season_path(:permalink => @show.permalink, :season => season.number)) %>
    </li>
  <% end %>
  </ul>
  
</div>

<% if @seasons.any? %>
  
  <div class="options">
    <% if @is_following %>
      <%= image_tag("icons/ajax-loader.gif", :class => "ajaxLoader icon", :id => "ajaxLoader") %>
      <span class="hide_while_loading">
        <%= link_to("Mark full show as watched", mark_show_path(@show.id), :class => "ajaxLink awesome magenta small", :rel => "ajaxLoader") %>
        <strong>or</strong> 
        <%= link_to("Mark season as watched", mark_season_path(@show.id, @season.id), :class => "ajaxLink awesome magenta small", :rel => "ajaxLoader") %>
        <strong>or</strong> 
        <%= link_to("Mark season as unwatched", unmark_season_path(@show.id, @season.id), :class => "ajaxLink awesome magenta small", :rel => "ajaxLoader") %>
      </span>
    <% else %>
      You need to <%= logged_in? ? "add this show to your list" : "be logged in" %> to mark episodes as watched.
    <% end %>
  </div>
  <h2>Season <%= @season.display_name %></h2>
  <div class="season_list">
    <% @season.episodes.sort_by{ |e| [e.number] }.each do |e| %>
    <% css_class = cycle("odd", "even", :name => "classes") %>
    <% corrected_air_date = (current_user ? e.air_date + current_user.day_offset.days : e.air_date) %>
    <% css_class += " highlighted" if @next_air_date == e.air_date %>
    <div class="episode <%= css_class %><%= " hidden" if @hidden_episode_ids.include?(e.id) %>">
      <div class="name">
        <strong><%= format_episode_number(e) %></strong>: <%= e.name %>
        <%#= link_to("Edit", edit_admin_episode_path(e), :class => :edit_link) if admin? %>
        <div class="rating"><span class="r<%= get_rating(e.rating) %>"></span></div>
      </div>
      <div class="overview">
        <% if e.friendly_overview.size > 180 %>
          <div class="short"><%= raw truncate(e.friendly_overview, :length => 180, :separator => " ") %> <%= link_to(raw("read more &raquo;"), "#", :class => :toggle, :rel => "full") %></div>
          <div class="full hidden"><%= raw e.friendly_overview %> <%= link_to(raw("&laquo; read less"), "#", :class => :toggle, :rel => "short") %></div>
        <% else %>
          <div class="short"><%= raw e.friendly_overview %></div>
        <% end %>
      </div>
      <div class="date">
        <span>Air date:</span>
        <%= format_date(corrected_air_date) %>
      </div>
      <div class="seen">
        <% if e.air_date < $TODAY.end_of_day %>
          <span>Watched this episode?</span>
          <% if logged_in? && @is_following %>
            <%= link_to("", mark_episode_path(e.id, e.season_id), :class => "ui-checkbox ajaxLink hide_while_loading #{"ui-checkbox-state-checked" if @seen_episode_ids.include?(e.id)}", :rel => "ajax_loader_#{e.id}") %>
            <%= image_tag("icons/ajax-loader.gif", :id => "ajax_loader_#{e.id}", :class => "ajaxLoader") %>
            <small class="hide"><%= link_to "Mark as hidden", hide_episode_path(e.id, e.season_id), :class => "hide_while_loading_small", :rel => "ajax_loader_small_#{e.id}" %></small>
            <small class="unhide hidden"><%= link_to "Unmark as hidden", hide_episode_path(e.id, e.season_id), :class => "hide_while_loading_small", :rel => "ajax_loader_small_#{e.id}" %></small>
            <%= image_tag("icons/ajax-loader-small.gif", :id => "ajax_loader_small_#{e.id}", :class => "ajaxLoaderSmall") %>
          <% else %>
            <span class="ui-checkbox ui-checkbox-state-checked ui-checkbox-state-checked-disabled"></span>
          <% end %>
        <% end %>
      </div>
    </div>
    <% end %>
    <% reset_cycle("classes") %>
  </div>
  
<% else %>

  <div id="no_show_episodes">
    <h2>This show has no episodes.</h2>
    <% if @is_queued %>
      <p id="notice" class="static">'<%= @show.name%>' is already scheduled for an update. If any episodes exist, they will appear shortly.</p>
    <% else %>
      <p id="error" class="static">
        It doesn't seem that we could collect any episodes.<br /><br />
        They will be available as soon as our <%= link_to("source", @show.source_url, :rel => :external) %> get any.
      </p>
    <% end %>
    <p>If you think any other data is wrong or incomplete, please <%= link_to("contact", info_path(:anchor => :contact)) %> us.</p>
  </div>
  
<% end %>