<% @banners = ["the-big-bang-theory", "house", "dexter", "how-i-met-your-mother", "lost", "heroes", "fringe", "true-blood", "flash-forward", "chuck"] %>
<h2 class="center">Top 10 shows - by popularity</h2>
<div id="best_choice">
  <% @top_shows.first(10).each_with_index do |show, index| %>
    <% selected = true if @user_shows.collect(&:show_id).include?(show.id) %>
    <div class="show<%= " big" if index < 4 %><%= " following" if selected %>">
      <div class="number"><%= index+1 %></div>
      <div class="overlay" style="background-image: url('/images/banners/<%= @banners[index] %>.jpg')"></div>
      <div class="button"><%= "#{show.followers} followers" %></div>
      <div class="bar"><%= link_to(show.name, show.link) %></div>
    </div>
  <% end %>
</div>
  <%= form_tag("/user_shows/create_multiple") do %>
    <h2 class="center">Top 100 shows - by name</h2>
    <div id="top_shows">
      <ul class="shows">
        <% @top_shows.sort_by{ |show| show.name }.each_with_index do |show, index| %>
          <% selected = true if @user_shows.collect(&:show_id).include?(show.id) %>
          <% if selected %>
            <li class="selected">
              <%= icon_tag("heart") %> <%= "#{show.name}" %>
              <p>Followers: <%= show.followers %> | Episodes: <%= show.episodes_count %><%= " | <strong>ended</strong>" if show.cancelled? %></p>
            </li>
        	<% else %>
        	  <li>
        	    <%= check_box_tag "show_ids[]", show.id, nil, { :id => "show_id_#{show.id}" } %> <%= label :show_id, show.id, "#{show.name}" %>
              <p>Followers: <%= show.followers %> | Episodes: <%= show.episodes_count %><%= " | <strong>ended</strong>" if show.cancelled? %></p>
            </li>
        	<% end %>
        <% end %>
      </ul>
    </div>
    <div class="center"><%= submit_tag "Add selected", :class => "awesome magenta" %></div>
  <% end %>
