<% title @show.name %>
<% meta @show.overview %>
<% share_url show_url(:permalink => @show.permalink) %>
<% share_title "TV Episode Calendar - #{yield(:title)}" %>

<%= render :partial => "show_header" %>

<h2>Vote on <%= @show.name %>'s info</h2>
<% @show_attribute_votes.group_by(&:show_attribute).each do |show_attribute, votes| %>
  <% has_voted = ShowAttributeVote.has_votes_for?(@show.id, current_user, show_attribute) %>
  <h3 class="margin_top"><%= show_attribute.humanize %></h3>
  <% for show_attribute_vote in votes %>
    <div class="vote-box<%= " voted" if current_user.voted_for?(show_attribute_vote) %>">
      <div class="profile small float_left">
        <%= content_tag(:div, nil, :style => "background-image: url('#{show_attribute_vote.user.gravatar_size(40)}');", :title => "Profile image from Gravatar.com") %>
      </div>
      <div class="float_left">
        <p>
          <%= show_attribute_vote.user.name %> thinks that the <em><%= show_attribute_vote.show_attribute.humanize %></em> should be <strong><%= show_attribute_vote.attribute_value %></strong>
          <% if show_attribute_vote.user == current_user %>
            | <%= link_to "Edit", edit_show_attribute_vote_path(show_attribute_vote) %>
            | <%= link_to "Destroy", show_attribute_vote, :confirm => 'Are you sure?', :method => :delete %>
          <% end %>
        </p>
        <p>Votes: <%= show_attribute_vote.votes_for %></p>

        <% if has_voted && current_user.voted_for?(show_attribute_vote) %>
          <%= link_to icon_tag("cross") + " Remove my vote", unvote_show_attribute_vote_path(show_attribute_vote), class: "red" %>
        <% elsif has_voted %>
          <p>You have already voted for <em><%= show_attribute_vote.show_attribute.humanize %></em></p>
        <% else %>
            <%= link_to icon_tag("thumb_up") + " Vote up", vote_show_attribute_vote_path(show_attribute_vote, :vote => :up) %>
        <% end %>

      </div>
    </div>
  <% end %>
<% end %>

<%= "Voted: #{@has_voted}" %>

<%= form_for ShowAttributeVote.new do |f| %>
  <%#= f.error_messages %>
  <p>
    <%= f.label :show_id %><br />
    <%= f.number_field :show_id, :value => @show.id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id, :value => current_user.id %>
  </p>
  <p>
    <%= f.label :show_attribute %><br />
    <%#= f.text_field :show_attribute %>
    <%= f.select :show_attribute, options_for_select(ShowAttributeVote.votable_attributes) %>
  </p>
  <p>
    <%= f.label :attribute_value %><br />
    <%= f.text_field :attribute_value %>
  </p>
  <p><%= f.submit "Create vote", :class => "awesome magenta" %></p>
<% end %>