<% title @show.name %>
<% meta @show.overview %>
<% share_url show_url(:permalink => @show.permalink) %>
<% share_title "TV Episode Calendar - #{yield(:title)}" %>

<%= render :partial => "show_header" %>

<% @show_attribute_votes.group_by(&:show_attribute).each do |show_attribute, votes| %>
<h2><%= show_attribute %></h2>
<table>
  <tr>
    <th><div>Show</div></th>
    <th><div>User</div></th>
    <th><div>Attribute</div></th>
    <th><div>Value</div></th>
    <th><div>Up votes</div></th>
  </tr>
  <% for show_attribute_vote in votes %>
    <tr>
      <td><%= show_attribute_vote.show.name %></td>
      <td><%= show_attribute_vote.user.name %></td>
      <td><%= show_attribute_vote.show_attribute %></td>
      <td><%= show_attribute_vote.attribute_value %></td>
      <td><%= show_attribute_vote.votes_for %></td>
      <td><%= link_to "Edit", edit_show_attribute_vote_path(show_attribute_vote) %></td>
      <td><%= link_to "Destroy", show_attribute_vote, :confirm => 'Are you sure?', :method => :delete %></td>
      <% unless @has_voted %>
        <td><%= link_to "Vote up", vote_show_attribute_vote_path(show_attribute_vote, :vote => :up) %></td>
      <% else %>
        <td><%= link_to "Remove vote", unvote_show_attribute_vote_path(show_attribute_vote) if current_user.voted_for?(show_attribute_vote) %></td>
      <% end %>
    </tr>
  <% end %>
</table>
<% end %>

<%= "Voted: #{@has_voted}" %>

<%= form_for ShowAttributeVote.new do |f| %>
  <%#= f.error_messages %>
  <p>
    <%= f.label :show_id %><br />
    <%= f.number_field :show_id, :value => @show.id %>
  </p>
  <p>
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id, :value => current_user.id %>
  </p>
  <p>
    <%= f.label :show_attribute %><br />
    <%#= f.text_field :show_attribute %>
    <%= f.select :show_attribute, options_for_select(ShowAttributeVote.votable_attributes) %>
  </p>
  <p>
    <%= f.label :attribute_value %><br />
    <%= f.text_field :attribute_value %>
  </p>
  <p><%= f.submit "Create vote", :class => "awesome magenta" %></p>
<% end %>