<% body_class "info" %>
<% title "FAQ" %>

<script type="text/javascript" charset="utf-8">
  var is_ssl = ("https:" == document.location.protocol);
  var asset_host = is_ssl ? "https://s3.amazonaws.com/getsatisfaction.com/" : "http://s3.amazonaws.com/getsatisfaction.com/";
  document.write(unescape("%3Cscript src='" + asset_host + "javascripts/feedback-v2.js' type='text/javascript'%3E%3C/script%3E"));
</script>

<script type="text/javascript" charset="utf-8">
  var feedback_widget_options = {};
  feedback_widget_options.display = "overlay";  
  feedback_widget_options.company = "episode_calendar";
  feedback_widget_options.placement = "right";
  feedback_widget_options.color = "#000";
  feedback_widget_options.style = "idea";
  var feedback_widget = new GSFN.feedback_widget(feedback_widget_options);
</script>

<%= javascript_include_tag :faq %>

<header>
	<h1 class="center">Frequently Asked Questions</h1>
</header>

<section id="faq">
  <article id="important">
		<header>
    	<h2><a href="#">Important Questions</a></h2>
		</header>
    <ul>
			<% if @important_questions.empty? %>
				<li>Oh no, this section is empty!</li>
			<% else %>
				<% @important_questions.each do |faq| %>
					<lh><%= faq.question %></lh>
					<li><%= faq.answer %></li>
				<% end %>
			<% end %>
    </ul>
  </article>

  <article id="position_hi">
		<header>
    	<h2><a href="#">Very Frequently Asked Questions</a></h2>
		</header>
    <ul>
			<% if @position_hi.empty? %>
				<li>Oh no, this section is empty!</li>
			<% else %>
				<% @position_hi.each do |faq| %>
					<lh><%= faq.question %></lh>
					<li><%= faq.answer %></li>
				<% end %>
			<% end %>
    </ul>
  </article>

  <article id="position_mid">
		<header>
    	<h2><a href="#">Questions</a></h2>
		</header>
    <ul>
			<% if @position_mid.empty? %>
				<li>Oh no, this section is empty!</li>
			<% else %>
				<% @position_mid.each do |faq| %>
					<lh><%= faq.question %></lh>
					<li><%= faq.answer %></li>
				<% end %>
			<% end %>
    </ul>
  </article>

  <article id="position_lo">
		<header>
    	<h2><a href="#">Infrequently Asked Questions</a></h2>
		</header>
    <ul>
			<% if @position_lo.empty? %>
				<li>Oh no, this section is empty!</li>
			<% else %>
				<% @position_lo.each do |faq| %>
					<lh><%= faq.question %></lh>
					<li><%= faq.answer %></li>
				<% end %>
			<% end %>
    </ul>
  </article>
</section>

<hr />
<span style="color: red;">[Temporary &lt;hr /&gt;]</span>
<hr />

<section id="todo">
	<div id="priority_4">
    <h2>Important notes</h2>
    <ul></ul>
  </div>

  <div id="priority_3">
    <h2>High priority</h2>
    <ul></ul>
  </div>

  <div id="priority_2">
    <h2>Medium priority</h2>
    <ul></ul>
  </div>

  <div id="priority_1">
    <h2>Low priority</h2>
    <ul></ul>
  </div>

  <div id="completed_tasks">
    <h2>Completed tasks</h2>
    <ul></ul>
  </div>
</div>